@charset "UTF-8";

@font-face {
    font-family: 'cordel';
    src: url(fontes/Cordel\ Encarnado\ II.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte1: Arial, Helvetica, sans-serif;
    --fonte2:  "Sriracha", cursive;
}
* {
    margin: 0px;
    padding: 0px;
}

main {
    max-width: 300px;
    min-width: 330px;
    margin: auto;
    background-color: white;

}

html, body {
    min-height: 100vh;
    background-color: peru;
    margin: auto;
    
}

header {
    background-image: url(imagens/imagem1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: gray;
    height: 300px;
    text-align: center;
}

    header > h1 {
        font-family: 'cordel';
        padding-top: 30px;
    }

    section { 
        padding: 10px;
        background-attachment: fixed;
        background-size: cover;
        border: solid;
        margin: 10px;  
        height:250px; 
       
    }

    section > p {
        color: peru;
        padding-top: 10px;
         text-align: center;
         line-height: 4em;
        font-family: var(--fonte2);
        text-shadow: 1px 1px  rgba(0, 0, 0, 0.658);
        font-size: 0.8em;
       
        
    }

    section.img2 {
        background-color: rgba(92, 117, 117, 0.39);
        background-image: url(imagens/imagem02.jpeg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 150px;
        
       
    }
    section.img3 {
        background-color: gray;
        background-image: url(imagens/imagem03.jpeg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding-bottom: 50px;
        
    }

    section.img4 {
        background-color: gray;
        background-image: url(imagens/imagem04.jpeg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
       padding-bottom: 50px;
    }

    section.img5 {
        background-color: gray;
        background-image: url(imagens/imagem05.jpeg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 250px;
       
    }

    section.img6 {
        background-color: gray;
        background-image: url(imagens/imagem06.jpeg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 250px;
    }
        

div.fundo {
    background-color: gray;
    background-image: url(imagens/zfundo.jpg);
    background-position: 100% 100%;
    background-size: cover;
    height: 117px;
}

div.fundo02 {
    background-color: gray;
    background-image: url(imagens/zfundo03.jpg);
    background-position: 100% 100%;
    background-size: cover;
    height: 117px;
}
div.fundo03 {
    background-color: gray;
    background-image: url(imagens/zfundo01.jpg);
    background-position: 100% 100%;
    background-size: cover;
    height: 117px;
}

div.fundo04 {
    background-color: gray;
    background-image: url(imagens/zfundo04.jpg);
    background-position: 100% 100%;
    background-size: cover;
    height: 117px;
}

div.fundo05 {
    background-color: gray;
    background-image: url(imagens/zfundo02.jpg);
    background-position: 100% 100%;
    background-size: cover;
    height: 117px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}




























































