@charset "UTF-8";

@font-face {
    font-family: 'cordel';
    src: url(fontes/Cordel\ Encarnado\ II.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte1: Arial, Helvetica, sans-serif;
    --fonte2:  "Sriracha", cursive;
}
* {
    margin: 0px;
    padding: 0px;
}

main {
    max-width: 300px;
    min-width: 380px;
    margin: auto;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.658);
    border-radius: 0px 0px 10px 10px ;
    margin-bottom: 30px;
    padding-bottom: 20px;

}

html, body {
    min-height: 100vh;
    background-color: rgba(205, 134, 63, 0.884);
    margin: auto;
    
}

header {
    background-image: url(imagens/imagem1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    height: 300px;
    text-align: center;
}

    header > h1 {
        font-family: 'cordel';
        padding-top: 25px;
        font-size: 35px;
    }

    section { 
        padding: 40px;
        background-size: cover;
        border: solid;
        margin: 10px;  
        height:250px; 
       
    }

    section > p {
        color: rgb(218, 130, 42);
        padding-top: 0px;
         text-align: center;
         line-height: 3em;
        font-family: var(--fonte2);
        text-shadow: 1px 1px 0px  rgba(0, 0, 0, 0.705);
        font-size: 1em;
       
        
    }

    section.img2 {
        background-color: white;
        background-image: url(imagens/imagem02.jpeg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 180px;
        background-size: cover 100%;
        background-attachment: fixed;
        background-position: center center;
        
        
        
        
        
       
    }
    section.img3 {
        background-color: white;
        background-image: url(imagens/imagem03.jpeg);
       background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 180px;
        background-size: cover 100%;
        background-attachment: fixed;
        background-position: center center;
        
        
        
    }
    section.img3 > p {
        position: absolute;
        margin-top: -30px;
        display: flex;
        align-items: flex-start;
        padding-right: 68px;
        
        
        
        
        
    }

    section.img4 {
        background-color: white;
        background-image: url(imagens/imagem04.jpeg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 180px;
        background-size: cover 100%;
        background-attachment: fixed;
        background-position: center center;
    }

            section.img4 > p {
                position: absolute;
                margin-top: -40px;
                padding-top: 30px;

            }

    section.img5 {
        background-color:  white;
        background-image: url(imagens/imagem05.jpeg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 180px;
        background-size: cover 100%;
        background-attachment: fixed;
        background-position: center center;
       
    }

        section.img6 > p {
            position: absolute;
            margin-top: -30px;
            padding-right: 90px;
            
            
        }

    section.img6 {
        background-color: white;
        background-image: url(imagens/imagem06.jpeg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 180px;
        background-size: cover 100%;
        background-attachment: fixed;
        background-position: center center;
        margin-bottom: 20px;
    }
        

div.fundo {
    background-color:  white;
    background-image: url(imagens/zfundo.jpg);
    background-position: 100% 100%;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    
    
    
}

div.fundo02 {
    background-color: white;
    background-image: url(imagens/zfundo03.jpg);
    background-position: 100% 100;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    
}
div.fundo03 {
    background-color:  white;
    background-image: url(imagens/zfundo01.jpg);
    background-position: 100% 100%;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    
}

div.fundo04 {
    background-color: white;
    background-image: url(imagens/zfundo04.jpg);
    background-position: 100% 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    
}

div.fundo05 {
    background-color:  white;
    background-image: url(imagens/zfundo02.jpg);
    background-position: 100% 100%;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}




























































